.yellow{
    background-color: yellow;
}
.green{
    background-color: green;
    color: yellow;
}
.red{
    background-color: red
    ;
}
.blue{
    background-color: blue;
    color: #fff;
}
.orange{
    background-color: orange;
}